# WAP to print first 10 numbers using a while loop
i=0
while(i<=10):
    print(i,end=' ')
    i = i+1

In [8]:
# WAP to find the sum of the digits of a given numbe
num = int(input("Please enter the number "))
#x = num
sum =0
rem=0
while(num!=0):
    rem = num%10
    sum =sum +rem
    num = num//10
print(sum)
print(num)

Please enter the number  1234

10
0

In [10]:
# WAP a program to display the reverse of the number entered
num = int(input("Please enter the number "))
x = num
sum =0
rem=0
while(num!=0):
    rem = num%10
    sum =sum*10 +rem
    num = num//10
print(sum)

Please enter the number  12345

54321

In [12]:
num = int(input("Please enter the number "))
count=1
sum =0
while count<=20:
    if(count%5==0):
        sum = sum +count
    count+=1
print("Sum of Number ",sum)

Please enter the number  67

Sum of Number  50

In [16]:
# WAP to read the number until -1 is encountered.Find the average of positive numbers and negative numbers entered by the user.
neg_count=0
pos_count=0
neg_s=0
pos_s=0
print("enter -1 for exit")
num =int(input("enter the number"))
while(num!=-1):
    if(num>0):
        pos_s = pos_s+ num
        pos_count = pos_count+1
    else:
        neg_s = neg_s+ num
        neg_count = neg_count+1
    num =int(input("enter the number"))
neg_avg = neg_s/neg_count
pos_avg = pos_s/neg_count
print("The average of negative number is",neg_avg)
print("The average of positive number is",pos_avg)

enter -1 for exit

enter the number 67
enter the number -9
enter the number -7
enter the number 54
enter the number -1

The average of negative number is -8.0
The average of positive number is 60.5

In [ ]:
#range function
#range(begin,end,step)

In [20]:
print(range(5))
# range (1,5)
# range(1,5,2)
# range(-4,4,2)
# range(0,1)
# range(1,1)
for i in range(-4,4,2):
    print(i)

range(0, 5)
-4
-2
0
2

In [17]:
for i in range(65,91,1):
    print(chr(i),end=" ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [21]:
#WAP that prompts a user to user to enter four numbers and find the gratest number among the four number entered
num1 = int(input("Enter the num1 "))
num2 = int(input("Enter the num2 "))
num3 = int(input("Enter the num3 "))
num4 = int(input("Enter the num4 "))
sum = num1 +num2 +num3 +num4
for i in range(21):
    if i ==num1 or i ==num2 or i==num3 or i ==num4:
        large=i
print("Largest Number =",large)

Enter the num1  3
Enter the num2  2
Enter the num3  2
Enter the num4  32

Largest Number = 3

In [22]:
# WAP to display multiplication table
for i in range(1,11,1):
    for j in range(1,6,1):
        print(format(i*j,"4d"),end=" ")
    print()

   1    2    3    4    5
   2    4    6    8   10
   3    6    9   12   15
   4    8   12   16   20
   5   10   15   20   25
   6   12   18   24   30
   7   14   21   28   35
   8   16   24   32   40
   9   18   27   36   45
  10   20   30   40   50

In [25]:
# WAP to display the pattern of the number given as follows
print("Number Pattern")
num=2
for i in range(1,5,1):
    x = i
    for j in range(1,num,1):
        print(j,end=' ')
    print()
    num +=1
for i in range(5,1,-1):
    x = i
    for j in range(1,num,1):
        print(j,end=' ')
    print()
    num -=1

Number Pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2

In [33]:
# Print the pattern
for i in range(1,6):
    for j in range(6,i,-1):
        print(" ",end=" ")
    for k in range(1,i+1):
        print(k,end=" ")
    for l in range(i-1,0,-1):
        print(l,end=" ")
    print("")

          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1

In [1]:
# THE else statement used with loops
i=1
while(i<0):
    print(i)
    i=i-1
else:
    print(i,"is notnegative so loop did not execute")

1 is notnegative so loop did not execute

In [22]:
# Type conversion basic
x = int('123')
a = float('123.42')
b = complex('2+4j')
c = str(12)
d = bool('True')
e = bin(25) #Binary
f = oct(25)
g = hex(25)
h = ord('A') # Char to Unicode
i = chr(98) # unicode to char
print(x,a,b,c,d,e,f,g,h,i,sep="\n")

123
123.42
(2+4j)
12
True
0b11001
0o31
0x19
65
b

In [24]:
# looping with zip
list1 = [1,2,3,4]
list2= [6,7,8,9]
for i,j in zip(list1,list2):
    print(i,j)

1 6
2 7
3 8
4 9

In [6]:
list1 = [1,2,3,4]
list2= [6,7,8,9]
for i,j in enumerate(list1):
    print(i,j)

0 1
1 2
2 3
3 4

In [28]:
list1 = [1,2,3,4]
list2= [6,7,8,9,78,90]
for i,j in zip(list1,list2):
    print(i,j)

1 6
2 7
3 8
4 9

In [16]:
dict1={'a':1,'b':2,'c':4}
dict2 ={'d':5,'e':6,'f':9}
for i,j in enumerate(dict1):
    print(i,j)
print("----------------")
for i,j in enumerate(dict2):
    print(i,j)

0 a
1 b
2 c
----------------
0 d
1 e
2 f

In [18]:
dict1={'a':1,'b':2,'c':4}
dict2 ={'d':5,'e':6,'f':9}
for i,j in enumerate(zip(dict1,dict2)):
    print(i,j)

0 ('a', 'd')
1 ('b', 'e')
2 ('c', 'f')

In [20]:
tuples = [(1, 2), (3, 4), (5, 6)]
for index, (arg1, arg2) in enumerate(tuples):
    print(index, arg1, arg2)

0 1 2
1 3 4
2 5 6

In [22]:
letters = ["a", "b", "c", "d", "e", "f", "g"]
for index in range(len(letters)):
    print(index, letters[index])

0 a
1 b
2 c
3 d
4 e
5 f
6 g

In [8]:
#Counting the number of occurance of charater string
word="Programming"
character='g'
count=0
for i in word:
    if i==character:
       count=count+1
print("count",count)

count 2

In [16]:
fib =[0,1]
# Range start by default
n=10
for i in range(n):
    fib.append(fib[-1]+ fib[-2])
# Convert list into integer
print(",".join(str(e) for e in fib))

0,1,1,2,3,5,8,13,21,34,55,89

In [3]:
# list comprehension (Square)
l=[10,20,30,40,50,60]
a=[]
for i in l:
    a.append(i*i)
#print(a)

#
#[i*i for i in l]
[i for i in l if i%2==0]

[10, 20, 30, 40, 50, 60]

In [4]:
#list Comprehension
iterable=[10,30,40]
list_variable = [x for x in iterable]
print(list_variable)

[10, 30, 40]

In [32]:
#iterable=[10,30,40]
list_variable = [x for x in 'praveen']
print(list_variable)

['p', 'r', 'a', 'v', 'e', 'e', 'n']

In [20]:
# List of even number
l1 = [2*e for e in range(1,10)]
print(l1)
# to create list of even number from given list
list=[23,56,65,22,62,32,65,76,22,29]
l2=[e for e in list if e%2==0]
print(l2)

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[56, 22, 62, 32, 76, 22]

In [36]:
# Using Conditional with list Comprehensions
alpha =['a','b','c','d','e','f']
re = [s for s in alpha if s!='a' ]
print(re)

['b', 'c', 'd', 'e', 'f']

In [38]:
# mathamitical condation
numlist = [x**2 for x in range(10) if x%2==0]
print(numlist)

[0, 4, 16, 36, 64]

In [44]:
#mathamitical condation with nexted if else
numlist = [x**2 for x in range(10) if x%2==0 if x%3==0]
print(numlist)

[0, 36]

In [1]:
# multiple for loop
my_list = [i*j for i in [10,20,30] for j in [2,3,4]]
print(my_list)

[20, 30, 40, 40, 60, 80, 60, 90, 120]

In [19]:
# Data is not equal than
# his line uses the `izip_longest` function from the `itertools` module to combine the two lists `a1` and `c1`. It pairs elements from both lists into tuples. If the lists are of unequal length, it fills the shorter list with `None` for the missing values. 
# The result is converted to a list and stored in the variable `mylist`.
!pip install itertools
import itertools
a1=[1,2,3,6,7,9]
c1=['a','b','c','d','e','f','g']
mylist = list(itertools.zip_longest(a1,c1))
print(mylist)

[(1, 'a'), (2, 'b'), (3, 'c'), (6, 'd'), (7, 'e'), (9, 'f'), (None, 'g')]

ERROR: Could not find a version that satisfies the requirement itertools (from versions: none)
ERROR: No matching distribution found for itertools