# Python Core Data Type
Python is purely object-oriented language.it referes to everythings as an object including
numbers and strings. ## Integer

In [4]:
a =10
print('Decimal ',a)
print(type(a))
b = 0o10
print('Octal',b)
print(type(b))
c =0x10
print("Hexadical",c)
print(type(c))

Decimal  10
<class 'int'>
Octal 8
<class 'int'>
Hexadical 16
<class 'int'>

# Note : Integer in Python 2.6 (int and long):
1. In Python 2.6 there are two types of integetes. One of 32 bits and another having unlimited precession. Python 2.6 automatically convert integers to long integers if the value of the integer overfloaws 32 bits
2. Integer in Python 3.0 (Only int type) - In Python 3.0 the normal int and long integer have been merged.there is only one type called intger

In [ ]:
# int Function
# int function convert a String or number into a whole number to integer.
int(12.234)
age = int(input("Enter thw age of student"))

In [7]:
# Floating Point
print(3.3e1) # Scientific Notation
print(3.7) # Decimal Notation

33.0
3.7

In [ ]:
#float funciton
float('14.55')
type(float('14.55'))

In [11]:
# Complex Number
#7.1 Complex number that can be expresses in the form a+bj, where a and b are real number and j is an imaginary unit.
a = 2 +4j
b = 3 + 5j
c = a+b
print(c)
print(type(c))

(5+9j)
<class 'complex'>

In [ ]:
#Boolean Type
#Boolean data type represent in Python as type bool
b=True
type(b)

In [18]:
#String type 
# A string literal or String in Python can be creted using single,double and triple quotes
str1='Praveen'
print(str1)
str2 = "Jain"
print(str2)
str3 = '''c
        cpp
        java

python''' # Triple single quotes are used to write a multiline
print(str3)

Praveen
Jain
c
        cpp
        java

python

In [21]:
#str function
str(12.3)

'12.3'

In [22]:
# Escape Sequence
print("Hello World ,\" Hello world\"")
#Hello World ," Hello world"
print("Hello",end=" ")
print("Python",end=" ")
print("Python",end=" ")

Hello World ," Hello world"
Hello Python Python

In [28]:
#Program to disaply data of different types using variables and literal constant.
roll_no =37
college = "SVNIT"
code=234
number_of_student=40000
name_of_student="Amit Kumar"
print("Roll_no ="+str(roll_no))
print("College="+str(college))
print("Code="+str(code))
print("Number of Studnet",str(number_of_student))
print("Name of Stundet",str(name_of_student))

Roll_no =37
College=SVNIT
Code=234
Number of Studnet 40000
Name of Stundet Amit Kumar

In [36]:
#Formatting Number and String
#format(item,format-specifier)
radius= int(input("Enter the radius of Circle"))
print("Radius ",radius)
PI =3.1428
area = PI * radius * radius
print("Area of Circle",format(area,'3.2f')) # 3.2f ==> 3 =>Field Widht 2=>Precision 

print("Area of Circle: {:<6.2f}".format(area))

#Explanation:
#<: Left-aligns the content.
#6.2f: Reserves at least 6 spaces and formats the float to 2 decimal places. Adjust the width (e.g., 6) as needed.

Enter the radius of Circle566
Radius  566
Area of Circle 1006814.84
Area of Circle: 1006814.84

In [38]:
#Integer Formatting
#â€¢ In case of integer formatting , you can make use of conversion code d (integer formatting) and x(hexadecimal integer).
print(format(20,"10x")) # Right formatted to Hexdecimal Integer

        14

In [39]:
print(format(20,"<10x"))

14

In [44]:
# Formating with Float
float(16/(float(3))) # Without # Without using the formatting

'5.33'

In [45]:
format(float(16/float(3)),'.2f')

'5.33'

In [46]:
#Formatting String
print(format("Hello World!","25s")) # Left justify
print(format("Hello World!",">25s")) # Right Justify

Hello World!
             Hello World!

In [47]:
#Formatting as a Percentage
print(format(0.31456,"10.2%")) # number multipled by 100
print(format(3.1,"10.2%")) # number multipled by 100

    31.46%
   310.00%

In [54]:
#Multiple Assignment
sum = flag=a=b=0
print(sum)
print(flag)
print(a)
print(b)
sum,a,b,mesg=0,3,5,'Welcome in Python Course'
print(sum)
print(a)
print(b)
print(mesg)

0
0
0
0
0
3
5
Welcome in Python Course

In [59]:
# list Data type
list=[1,2,3,4,5]
print(list) # Mutable Data Type
print(list[1:2])
print(list[1:5:2])
print(list[::2])
print(list[-1])
list[1]=333
print(list)

[1, 2, 3, 4, 5]
[2]
[2, 4]
[1, 3, 5]
5
[1, 333, 3, 4, 5]

In [60]:
#Tuple Data Type
tuple=(1,2,3,3,4)
print(tuple) # Immutable Data Type
print(tuple[1])
print(tuple[1:3])
print(tuple[1:3:2])
print(tuple[:])
tuple[1]=333
print(tuple)

(1, 2, 3, 3, 4)
2
(2, 3)
(2,)
(1, 2, 3, 3, 4)

TypeError: 'tuple' object does not support item assignment

In [3]:
#Dictionary
dict1 ={'a':1,'b':3,'c':4,8:100}
print(dict1) # mutable data type
print(dict1['a'])
print(dict1.values())
print(dict1.items())

{'a': 1, 'b': 3, 'c': 4, 8: 100}
1
dict_values([1, 3, 4, 100])
dict_items([('a', 1), ('b', 3), ('c', 4), (8, 100)])

In [61]:
#Set
set1 = set([1,2,3,3])
print(set1) # mutable data type

{1, 2, 3}