# TUPLE
- a tuple is a sequence of immutable objects. This means that while you can change the value of one or more items in a list you cannot change the value in tuple.
- tuple use parentheses to define its elements whereas lists use square brackets.

In [1]:
tup1 =() # creates a empty tuple 
print(tup1)

()

In [3]:
tup1=(5,)
print(tup1)
print(type(tup1))

(5,)
<class 'tuple'>

In [5]:
tup1=(1,"python","java",34.5,'4','p') # create tuple with mixed value
print(tup1)

(1, 'python', 'java', 34.5, '4', 'p')

In [7]:
print('a',"praveen","p",3,4.5) # Tuple with parentheses

a praveen p 3 4.5

In [7]:
a,b=10,20   # Default tuple without parentheses
print(a,b)

10 20

In [9]:
tup =(10,)
print(type(tup))

<class 'tuple'>

In [10]:
tup =(10)
print(type(tup))

<class 'int'>

# Utility of  Tuple

In [9]:
quo,rem = divmod(100,3)
print("Quotient=",quo)
print("Remainder=",rem)

Quotient= 33
Remainder= 1

# Accessing value in Tuple

In [13]:
tup1=(1,2,3,4,5,6,7,8,9,10)
print("Tup[3:6]=",tup1[3:6])
print("Tup[:4]=",tup1[:4])
print("Tup[4:]=",tup1[4:])
print("Tup[:]=",tup1[:])

Tup[3:6]= (4, 5, 6)
Tup[:4]= (1, 2, 3, 4)
Tup[4:]= (5, 6, 7, 8, 9, 10)
Tup[:]= (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Updating Tuple
- tuple is immutlable and so, the value(s) in the tuple cannot be changed.we can only extract values from a tuple to from another tuple
- unlike lists , tuple do not support remove(),pop(),append(),sort(),reverse(),  and insert() methods

In [14]:
# Concatenating Tuples
tup1=(1,2,3,4,5)
tup2=(6,7,8,9,10)
tup3 = tup1 + tup2
print(tup3)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [22]:
tup4 =  (11,22,33,44,55)
del tup4[2]
print(tup4)  # tuple  immutable so we can not preform delete operation

TypeError: 'tuple' object doesn't support item deletion

# Tuple Assignment

In [25]:
(val1,val2,val3)=(1,2,3)
print(val1,val2,val3)
tup1 =(100,200,300)
(val1,val2,val3)=tup1 # tuple assigned to another tuple
print(tup1)
#expression are evaluated before assignment 
(val1,val2,val3)=(2+4,5/3+4,9%6)
print(val1,val2,val3)

1 2 3
(100, 200, 300)
6 5.666666666666667 3

# Nested  tuples

In [26]:
player=(("Virat","Test Avg",54.4),("Dhoni","Test Avg ",45.5),("Sachin","Test Avg",56.4))
for i in player:
    print(i)

('Virat', 'Test Avg', 54.4)
('Dhoni', 'Test Avg ', 45.5)
('Sachin', 'Test Avg', 56.4)

In [31]:
player=(("Virat","All Formate",[54.4,50.4,59.5]),("Dhoni","All Formate",[52.4,45.4,51.5]),("Sachin","All Formate",[58.4,48.4,42.4]))
for i in player:
    print(i)

print("Best Avg in Test",player[0])

('Virat', 'All Formate', [54.4, 50.4, 59.5])
('Dhoni', 'All Formate', [52.4, 45.4, 51.5])
('Sachin', 'All Formate', [58.4, 48.4, 42.4])
Best Avg in Test ('Virat', 'All Formate', [54.4, 50.4, 59.5])
Count  0

# Variable-lenght Argument Tuples

In [33]:
def display(*args):
    print(args)
tup1 =(1,2,3,4,5,6)
display(tup1)

((1, 2, 3, 4, 5, 6),)

# Zip() function

In [35]:
tup1 =(1,2,3,4,5)
list1 =['a','b','c','d','e']
print(list((zip(tup1,list1))))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [5]:
tup1 =(1,2,3,6,7,8,7)
list1 =['a','b','c','d','e']
print(list((zip(tup1,list1))))  # zip()function is variable lenght squence

[(1, 'a'), (2, 'b'), (3, 'c'), (6, 'd'), (7, 'e')]

# Program to print element in a tuple using for loop

In [6]:
tup =((1,'a','p'),(2,'b','w'),(3,'c','r'))
for i,char,ch in tup:
    print(i,char,ch)

1 a p
2 b w
3 c r

In [3]:
for index,element in enumerate('pythonpadho'):
    print(index,element)

0 p
1 y
2 t
3 h
4 o
5 n
6 p
7 a
8 d
9 h
10 o

# Key Points to remember
- tuple can be converted into lists, and  vice versa using the build-in tuple() funtion.
- we  cannot divide and subtract tuples
- tuples are immutable
- tuples are faseter than lists,but they cannot be changed

# Advatages of Tuple over List

- Tuples are used to store values of different data types.List can however,store data of similar data types.
- Tuple are immutable ,iterating through tuples is faster than iterating over a list. This means that a tuple perform better than a list.
- Tuples can be used as key for dictionary but list cannot be used as keys.
- Tuples are best suited for storing data that  is write protected.
- Tuples can be used in place of list where the number of values is known and small.
- multiple values from a function can be returned using a tuple
- Tuples are used to format string

# Program : WAP using a function that return the area and circumference of  a circle whose radius is passed as an argument.

In [6]:
PI=3.14
def cal_area_circum(r):
    return(PI*r*r,2*PI*r)
radius  = float(input("Enter the radius :"))
(area,circumference) = cal_area_circum(radius)
print("Area of the circle with radius ",radius ,"=",area)
print("Circumference of the circle with radius ",radius ,"=",circumference)

Enter the radius :5
Area of the circle with radius  5.0 = 78.5
Circumference of the circle with radius  5.0 = 31.400000000000002

# WAP that has a nested list to store topper details. Edit the details and reprint the details

In [9]:
topper = (("Arav","Bsc",92.0),("Chaitanya","B.Tech",98.0),("Dhuruvika","Btech",96))
for  i in topper:
     print(i)
choice = input("Do you want to edi the details:")
if choice=='y':
    name = input("Enter the name of the students whose details are to be edited")
    new_name = input("Enter the correct name")
    new_course = input("Enter the correct course")
    new_aggr = input("Enter the correct aggregate")
    i=0
    new_topper=()
    while i<len(topper):
        if (topper[i][0]==name):
            new_topper+=(new_name,new_course,new_aggr)
        else:
            new_topper+= topper[i]
        i+=1
for i in new_topper:
    print(i,end='')

('Arav', 'Bsc', 92.0)
('Chaitanya', 'B.Tech', 98.0)
('Dhuruvika', 'Btech', 96)
Do you want to edi the details:y
Enter the name of the students whose details are to be editedArav
Enter the correct namePraveen
Enter the correct courseMTech
Enter the correct aggregate78
PraveenMTech78ChaitanyaB.Tech98.0DhuruvikaBtech96

In [1]:
my_tuple = (1, 2, 2, 3)
print(my_tuple.count(2))  # Output: 2

2

In [2]:
my_tuple = (1, 2, 3, 2)
print(my_tuple.index(2))  # Output: 1

1

In [4]:
# Unpacking a Tuple into variables
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(a, b, c)  # Output: 1 2 3

1 2 3